In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import glob

import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

from sklearn.model_selection import train_test_split

# Earthquakes

In [2]:
path = r'C:\Users\ibrah\Downloads\PR\earthquakes' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

earth = pd.concat(li, axis=0, ignore_index=True)

In [3]:
earth.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-05-02T23:49:13.744Z,43.153200,17.982800,10.00,3.30,ml,NaN,43.0,1.18600,0.58,us,us700099gx,2020-07-18T21:57:32.040Z,"7 km NNE of Stolac, Bosnia and Herzegovina",earthquake,5.10,2.00,0.056,42.0,reviewed,us,us
1,2020-05-02T23:44:37.050Z,32.755333,-115.430667,16.91,3.58,ml,82.0,36.0,0.05166,0.30,ci,ci38477458,2020-07-18T21:57:14.040Z,"8km SW of Holtville, CA",earthquake,0.22,0.41,0.123,179.0,reviewed,ci,ci
2,2020-05-02T23:35:46.541Z,-17.702500,167.301800,10.00,4.60,mb,NaN,151.0,2.24400,0.91,us,us70009bsc,2020-07-18T21:57:44.040Z,"107 km W of Port-Vila, Vanuatu",earthquake,5.80,1.90,0.102,29.0,reviewed,us,us
3,2020-05-02T23:26:49.070Z,17.941300,-66.643600,7.00,2.73,md,20.0,188.0,0.10820,0.16,pr,pr2020123043,2020-05-04T02:02:14.448Z,"7 km SSW of Ponce, Puerto Rico",earthquake,0.55,0.28,0.150,12.0,reviewed,pr,pr
4,2020-05-02T22:24:49.290Z,19.309100,-67.389000,51.00,3.55,md,22.0,291.0,0.88630,0.33,pr,pr2020123028,2020-07-18T21:57:14.040Z,"95 km NNW of San Antonio, Puerto Rico",earthquake,2.09,7.13,0.120,18.0,reviewed,pr,pr

In [4]:
earth.shape

(207058, 22)

In [5]:
earth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207058 entries, 0 to 207057
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   time             207058 non-null  object
 1   latitude         207058 non-null  float64
 2   longitude        207058 non-null  float64
 3   depth            207058 non-null  float64
 4   mag              207058 non-null  float64
 5   magType          207057 non-null  object
 6   nst              53767 non-null   float64
 7   gap              185764 non-null  float64
 8   dmin             177065 non-null  float64
 9   rms              207045 non-null  float64
 10  net              207058 non-null  object
 11  id               207058 non-null  object
 12  updated          207058 non-null  object
 13  place            207035 non-null  object
 14  type             207058 non-null  object
 15  horizontalError  188158 non-null  float64
 16  depthError       207043 non-null  float64
 17  magError         173966 non-null  float64
 18  magNst           176674 non-null  float64
 19  status           207058 non-null  object
 20  locationSource   207058 non-null  object
 21  magSource        207058 non-null  object
dtypes: float64(12), object(10)
memory usage: 34.8+ MB

In [6]:
earth['time'] = pd.to_datetime(earth['time'])

In [7]:
earth=earth.sort_values(by='time')
earth.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
33613,2014-10-02 00:13:39.470000+00:00,-21.1000,-174.4863,10.00,5.0,mb,NaN,76.0,17.764,0.42,us,usb000si16,2014-12-23T01:41:57.040Z,"54 km ENE of ‘Ohonua, Tonga",earthquake,10.3,1.7,0.055,111.0,reviewed,us,us
33612,2014-10-02 00:37:01.600000+00:00,64.5978,-17.6197,8.27,4.9,mb,NaN,63.0,1.601,0.45,us,usb000si1b,2014-12-23T01:41:57.040Z,"122 km WNW of Höfn, Iceland",earthquake,6.7,3.8,0.045,163.0,reviewed,us,us
33611,2014-10-02 00:53:40.180000+00:00,-24.2301,-179.8368,512.78,4.2,mb,NaN,104.0,5.277,0.80,us,usb000slzq,2014-12-23T01:41:57.040Z,south of the Fiji Islands,earthquake,15.4,9.5,0.112,23.0,reviewed,us,us
33610,2014-10-02 01:20:00.100000+00:00,36.1799,-97.2545,5.00,2.8,ml,NaN,57.0,NaN,0.45,us,usb000si1g,2014-12-23T01:41:57.040Z,"11 km ENE of Orlando, Oklahoma",earthquake,1.4,2.0,NaN,NaN,reviewed,tul,tul
33609,2014-10-02 01:27:22.060000+00:00,-24.5057,-179.9794,524.26,4.5,mb,NaN,118.0,6.973,0.76,us,usb000si24,2014-12-23T01:41:57.040Z,south of the Fiji Islands,earthquake,13.3,8.1,0.098,32.0,reviewed,us,us

In [8]:
earth.isnull().sum()

time                    0
latitude                0
longitude               0
depth                   0
mag                     0
magType                 1
nst                153291
gap                 21294
dmin                29993
rms                    13
net                     0
id                      0
updated                 0
place                  23
type                    0
horizontalError     18900
depthError             15
magError            33092
magNst              30384
status                  0
locationSource          0
magSource               0
dtype: int64

In [9]:
earth['latitude'] = round(earth['latitude'])
earth['longitude'] = round(earth['longitude'])

In [10]:
earth['merge'] = earth['latitude'].astype('str') + ',' +earth['longitude'].astype('str')

In [11]:
earth['merge']

33613     -21.0,-174.0
33612       65.0,-18.0
33611     -24.0,-180.0
33610       36.0,-97.0
33609     -25.0,-180.0
              ...
179788     32.0,-104.0
179787     36.0,-117.0
179786     38.0,-122.0
179785     19.0,-155.0
179784       -9.0,67.0
Name: merge, Length: 207058, dtype: object

In [12]:
df = pd.read_csv('rain data.csv')
df.head()

,OBJECTID,landslide_trigger,event_date,latitude,longitude,landslide_size
0,5689756,rain,2008-08-01 00:00:00,32.5625,107.4500,large
1,5689757,downpour,2009-01-02 02:00:00,45.4200,-122.6630,small
2,5689758,downpour,2007-01-19 00:00:00,-11.1295,-75.3587,large
3,5689761,downpour,2012-02-16 00:00:00,10.7004,124.9668,medium
4,5689762,downpour,2012-03-30 00:00:00,48.2797,-117.2665,small

In [13]:
df.shape

(9675, 6)

In [14]:
df.isnull().sum()

OBJECTID               0
landslide_trigger      1
event_date           204
latitude               0
longitude              0
landslide_size       423
dtype: int64

In [15]:
df['latitude'] = round(df['latitude'])
df['longitude'] = round(df['longitude'])

In [16]:
df['merge'] = df['latitude'].astype('str') + ',' +df['longitude'].astype('str')

In [17]:
df['merge']

0        33.0,107.0
1       45.0,-123.0
2       -11.0,-75.0
3        11.0,125.0
4       48.0,-117.0
           ...
9670    -34.0,115.0
9671    -37.0,148.0
9672      18.0,74.0
9673     38.0,-84.0
9674     38.0,-84.0
Name: merge, Length: 9675, dtype: object

In [18]:
eng_product_merge = pd.merge(df, earth, left_on='merge',right_on='merge',how='inner').drop(columns='merge')

In [19]:
eng_product_merge.shape

(240478, 28)

In [20]:
eng_product_merge.isnull().sum()

OBJECTID                 0
landslide_trigger        0
event_date             574
latitude_x               0
longitude_x              0
landslide_size           0
time                     0
latitude_y               0
longitude_y              0
depth                    0
mag                      0
magType                  3
nst                  94815
gap                   3379
dmin                  8074
rms                     98
net                      0
id                       0
updated                  0
place                   17
type                     0
horizontalError       3339
depthError               0
magError             15718
magNst                4881
status                   0
locationSource           0
magSource                0
dtype: int64

In [21]:
eng_product_merge.dropna(inplace=True)

In [22]:
eng_product_merge.isnull().sum()

OBJECTID             0
landslide_trigger    0
event_date           0
latitude_x           0
longitude_x          0
landslide_size       0
time                 0
latitude_y           0
longitude_y          0
depth                0
mag                  0
magType              0
nst                  0
gap                  0
dmin                 0
rms                  0
net                  0
id                   0
updated              0
place                0
type                 0
horizontalError      0
depthError           0
magError             0
magNst               0
status               0
locationSource       0
magSource            0
dtype: int64

In [23]:
eng_product_merge.shape

(129010, 28)

In [24]:
eng_product_merge.head()

,OBJECTID,landslide_trigger,event_date,latitude_x,longitude_x,landslide_size,time,latitude_y,longitude_y,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,5689757,downpour,2009-01-02 02:00:00,45.0,-123.0,small,2015-06-25 13:24:47.560000+00:00,45.0,-123.0,51.602,3.13,ml,31.0,61.0,0.15040,0.10,uw,uw61046476,2016-07-22T19:52:48.910Z,"24 km WNW of Gaston, Oregon",earthquake,0.28,0.68,0.173,146.0,reviewed,uw,uw
1,5689757,downpour,2009-01-02 02:00:00,45.0,-123.0,small,2016-07-17 01:16:43.880000+00:00,45.0,-123.0,26.650,3.03,ml,42.0,51.0,0.03341,0.20,uw,uw61167147,2016-09-17T01:27:47.040Z,Washington-Oregon border region,earthquake,0.23,0.41,0.178,134.0,reviewed,uw,uw
2,5689757,downpour,2009-01-02 02:00:00,45.0,-123.0,small,2016-10-04 04:29:22.630000+00:00,45.0,-123.0,23.700,3.03,ml,41.0,37.0,0.18990,0.24,uw,uw61201937,2017-12-14T02:21:01.271Z,"4 km WNW of Woodburn, Oregon",earthquake,0.30,0.96,0.111,27.0,reviewed,uw,uw
3,5689757,downpour,2009-01-02 02:00:00,45.0,-123.0,small,2017-06-01 16:02:57.740000+00:00,45.0,-123.0,22.480,2.96,ml,32.0,60.0,0.19470,0.22,uw,uw61272097,2018-06-26T15:33:50.096Z,"9 km NW of Keizer, Oregon",earthquake,0.30,0.98,0.125,22.0,reviewed,uw,uw
4,5689757,downpour,2009-01-02 02:00:00,45.0,-123.0,small,2017-12-14 01:24:26.830000+00:00,45.0,-123.0,17.370,3.96,ml,53.0,40.0,0.17690,0.19,uw,uw61335997,2018-10-28T05:34:08.405Z,"5 km E of Scotts Mills, Oregon",earthquake,0.22,0.82,0.210,28.0,reviewed,uw,uw

In [25]:
eng_product_merge.drop('time',axis=1,inplace=True)

In [26]:
eng_product_merge = eng_product_merge.iloc[:,np.r_[1,3,4,5,8,9]]

In [27]:
eng_product_merge.head()

  landslide_trigger  latitude_x  longitude_x landslide_size   depth   mag
0          downpour        45.0       -123.0          small  51.602  3.13
1          downpour        45.0       -123.0          small  26.650  3.03
2          downpour        45.0       -123.0          small  23.700  3.03
3          downpour        45.0       -123.0          small  22.480  2.96
4          downpour        45.0       -123.0          small  17.370  3.96

In [28]:
eng_product_merge.duplicated().sum()

100732

In [29]:
eng_product_merge  = eng_product_merge.drop_duplicates()

In [30]:
eng_product_merge.shape

(28278, 6)

In [31]:
eng_product_merge.isnull().sum()

landslide_trigger    0
latitude_x           0
longitude_x          0
landslide_size       0
depth                0
mag                  0
dtype: int64

In [32]:
eng_product_merge['landslide_trigger'] = pd.get_dummies(eng_product_merge['landslide_trigger'])

In [33]:
eng_product_merge['landslide_size'] = pd.get_dummies(eng_product_merge['landslide_size'])

In [34]:
eng_product_merge['landslide'] = np.where(eng_product_merge['mag'] < 2.8,0,1)

In [35]:
eng_product_merge = eng_product_merge.rename(columns={'landslide_trigger': 'rain intensity','mag' : 'earthquakes magnitude'})

In [36]:
eng_product_merge.head()

,rain intensity,latitude_x,longitude_x,landslide_size,depth,earthquakes magnitude,landslide
0,0,45.0,-123.0,0,51.602,3.13,1
1,0,45.0,-123.0,0,26.650,3.03,1
2,0,45.0,-123.0,0,23.700,3.03,1
3,0,45.0,-123.0,0,22.480,2.96,1
4,0,45.0,-123.0,0,17.370,3.96,1

In [37]:
eng_product_merge['landslide'].value_counts()

0    15215
1    13063
Name: landslide, dtype: int64

In [38]:
x = eng_product_merge.iloc[:,:-1]
y = eng_product_merge.iloc[:,-1]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [40]:
import lightgbm as lgb
clf = lgb.LGBMClassifier()
clf.fit(X_train, y_train)

LGBMClassifier()

In [41]:
y_pred=clf.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_pred, y_test)
print('LightGBM Model accuracy score: {0:0.4f}'.format(accuracy_score(y_test, y_pred)))

LightGBM Model accuracy score: 1.0000